@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Override electron-vite scaffold white text default */
  color: #1e293b;
}

#root {
  display: flex;
  flex-direction: row;
}
